/* Importa as fontes Poppins e Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Define variáveis CSS para cores e fontes */
:root {
    --cor-primaria: #0A1F44;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #ffc933;
    --cor-hover: #1C3D71;
    --fonte-primaria:'Poppins', sans-serif;
    --fonte-secundaria:'Roboto', sans-serif;

}
.conteudo_extra{
    padding: 10px;
    margin: 20px;
}

.conteudo_extra_lista{
    list-style-type: none; /* Remove a marcação da lista */
    padding: 0; /* Remove o preenchimento */
    margin-bottom: 15px; /* Espaçamento abaixo do menu */
}

.conteudo_extra_link{
    text-decoration:none; /* Remove sublinhado dos links */
    color: var(--cor-primaria); /* Cor do texto dos links */
    font-weight: bold; /* Define o peso da fonte como negrito */
    display: block; /* Faz com que os links ocupem toda a largura disponível */
    margin-right: 20px; /* Espaçamento à direita */
    margin-bottom: 10px; /* Espaçamento abaixo dos links */  
}

.img_autor_artigo{
    width: 60px; /* Define a largura do círculo */
    height: 60px; /* Define a altura do círculo, deve ser igual à largura */
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem preencha o círculo sem distorção */
    overflow: hidden; /* Oculta qualquer parte da imagem que extrapolar o círculo */
}

.autor_artigo{
    margin-top: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.nome_autor_artigo{
    margin-left: 10px;
    font-style:italic;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    
}

/*New*/

p{
    text-align: justify;
}