/* Importa as fontes Poppins e Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Define variáveis CSS para cores e fontes */
:root {
    --cor-primaria: #0A1F44;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #ffc933;
    --cor-hover: #1C3D71;
    --fonte-primaria:'Poppins', sans-serif;
    --fonte-secundaria:'Roboto', sans-serif;

}
.card {
    border: none !important;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: black;
}   

.card-text{
    text-align: justify;
}

.card-title{
    text-align: justify;
}

.btn-outline-custom {
    color: #ff6600 !important;  /* Cor do texto */
    border-color: #ff6600 !important; /* Cor da borda */
}

.btn-outline-custom:hover {
    background-color: #ff6600 !important; /* Cor do fundo ao passar o mouse */
    color: white !important; /* Cor do texto ao passar o mouse */
}

.bg-custom{
    background-color: #f3f3f3 ;
}
.nav-link,.navbar-brand,.dropdown-item,.form-control{
    color: #ff6600 !important;
    font-family: var(--fonte-primaria);
}

.form-control:focus {
    border-color: orange !important; /* Altera a borda para laranja quando o input estiver focado */
    box-shadow: 0 0 0 0.25rem rgba(255, 165, 0, 0.25)!important ; /* Adiciona uma leve sombra laranja para destaque */
}

/* Alterando a borda do input quando não estiver em foco */
.form-control {
    border-color: orange !important; /* Altera a borda padrão para laranja */
}

#artigo_destaque{
    border-radius: 100px;
    object-fit:scale-down; max-height: 650px; border-radius: 10px;
}

.carousel-caption{
    color: #f60 !important;;
}