/* Importa fontes do Google Fonts: Poppins e Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Define vari치veis de cores e fontes para uso em todo o CSS */
:root {
    --cor-primaria: #0A1F44; /* Cor principal */
    --cor-secundaria: #ffffff; /* Cor de fundo */
    --cor-terciaria: #ffc933; /* Cor terci치ria */
    --cor-hover: #1C3D71; /* Cor de hover */
    --fonte-primaria: 'Poppins', sans-serif; /* Fonte prim치ria */
    --fonte-secundaria: 'Roboto', sans-serif; /* Fonte secund치ria */
}

body {
    background-color: #f4f4f4;
}

.card {
    border: none !important;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
    padding: 15px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
}